<div class="calendar-header">
  <button mat-icon-button (click)="onPreviousClick()">&#8249;</button>
  <button mat-icon-button (click)="onNextClick()">&#8250;</button>
</div>
<div class="calendar-table-container">
  <table mat-table class="calendar-table">
    <thead>
      <tr>
        <th class="time-slot-header"></th>
        <th
          *ngFor="let day of selectedWeek; let i = index"
          [class.current-day]="i === currentDayIndex"
          class="day-header"
        >
          <div>
            <div>{{ day | date: 'EEEE, MMM d' }}</div>
            <div>(Consultations: {{ getAppointmentsCount(day) }})</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slot of timeSlots; let slotIndex = index">
        <td class="time-slot">{{ slot }}</td>
        <td
          *ngFor="let day of selectedWeek; let i = index"
          class="slot-cell"
          [class.current-day]="i === currentDayIndex"
          [class.available]="isAvailabilityInSlotForBackground(day, slot) && !isDayCoveredByAbsence(day)"
          (click)="onSlotClick(day, slot)"
        >
          <!-- Nakładka dla absencji -->
          <div
            *ngIf="isDayCoveredByAbsence(day)"
            class="absence-mask"
          ></div>

          <!-- Wyświetlenie wizyty -->
          <div *ngFor="let appointment of appointments">
            <div
              *ngIf="isAppointmentInSlot(appointment, day, slot)"
              class="appointment"
              [ngClass]="{
                'appointment-first-visit': appointment.type === 'First Visit',
                'appointment-follow-up': appointment.type === 'Follow-Up Visit',
                'appointment-chronic-condition': appointment.type === 'Chronic Condition',
                'appointment-prescription': appointment.type === 'Prescription',
                'appointment-past': isPastAppointment(appointment),
                'appointment-covered-by-absence': isAppointmentCoveredByAbsence(appointment)
              }"
              [title]="getAppointmentDetails(appointment)"
              (click)="onAppointmentClick(appointment, $event)"
            >
              <p [ngClass]="{'text-strikethrough': isAppointmentCoveredByAbsence(appointment)}">
                {{ appointment.firstName }} {{ appointment.lastName }} - {{ (appointment.type) }}
              </p>
            </div>
          </div>

          <!-- Ukrywanie dostępności w dniach z absencją -->
          <div
            *ngIf="!isDayCoveredByAbsence(day) && isAvailabilityInSlotForBackground(day, slot)"
            class="availability"
          ></div>

          <!-- Linia czerwonego wskaźnika dla obecnego czasu -->
          <div
            *ngIf="i === currentDayIndex && slotIndex === currentSlotIndex"
            class="red-line"
            [style.top]="redLinePosition"
          ></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
