<mat-card>
  <mat-card-header>
    <mat-card-title>Add Absence</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" [(ngModel)]="absence.startDate" name="startDate" id="startDate" />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" [(ngModel)]="absence.endDate" name="endDate" id="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>


      <div class="button-group">
        <button mat-raised-button color="primary" (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </div>
      
    </form>
  </mat-card-content>
</mat-card>
